h1{
    text-align: center;
    background-color: aqua;
    color: black;
}

h2{
    text-align: center;
    background-color: chartreuse;
    color: black;
}


/*.icet{
    background-color: cadetblue;
    text-align: center;
}

.textAlignment{
    text-align: justify;
}*/


/*.odd{
    background-color: aquamarine;
}

.even{
    background-color: blanchedalmond;
}

#title{
    background-color: rgb(68, 132, 187);
}

*{
    background-color: rgb(107, 40, 69);
}*/


.helloCost{
    /*background-color: aquamarine;
    background-color: rgb(red, green, blue);*/
    background-color: #30546b;
    color:black ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
