h1{
    text-align: center;
    background-color: aqua;
    color: black;
}

h2{
    text-align: center;
    background-color: chartreuse;
    color: black;
}


/*.icet{
    background-color: cadetblue;
    text-align: center;
}

.textAlignment{
    text-align: justify;
}*/

.odd{
    background-color: aquamarine;
}

.even{
    background-color: blanchedalmond;
}